.currency-list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.coin-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-logo {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
